
html,
body {
  height: 100%;
  font-family: montserrat-m;

  --main: #011627;
  --secondary: #F7F0F0;
  --greenish: #77BFA3;
}

.dashboard {
  background-color: var(--main);
  color: white;
}
.nav {
  background-color: var(--main);
  color: var(--secondary)
}
.content-area {
  background-color: var(--secondary);
}

.content-frame {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

/* dashboard */
.icons {
  width: 22px;
}
.dashboard-logo {
  justify-self: start;
  width: 36px;
}
.logo-font {
  font-family: montserrat-b;
  font-size: 1.2rem;
  align-self: center;
}

.dashboard {
  padding: 40px 20px;
  grid-column: 1;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  gap: 50px;
  font-size: 99%;
  border-right: 3px solid #010d16;
}


.dashboard-icon div {
  display: grid;
  grid-template-columns: 1fr 2fr;
 
}
.dashboard-user div,
.dashboard-settings div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0px;
  align-items: center;
}
.dashboard-user,
.dashboard-settings {
  display: grid;
  gap: 1.2rem;
}
.dashboard-settings {
  align-self: end;
}
.icons {
  justify-self: start;
}

/* Nav */
.nav {
  grid-column: 2;
  grid-row:1;
  display: grid;
  padding: 0px 30px;
}
.nav-icons {
  width: 22px;
}
.profile-picture {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.nav-profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-search {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search {
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  align-items: center;
}
.searchbar p {
  background-color: var(--secondary);
  color: var(--main);
  padding: 5px 20px;
  border-radius: 25px;
}
.nav-icons {
  justify-self: center;
}

.search-user {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  align-items: center;
  justify-content: center;
}
.profile-picture {
  justify-self: center;
}
/* bottom part nav */
.nav-userinfo {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}
.nav-big-profile-picture {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns:fit-content(100%) 1fr;
  padding-left: 10px;
  align-self: center;
}
.greeting{
  font-size: 0.8rem;
}
.user-greeting {
  align-self: center;
  padding-left: 25px;
  font-size: 1rem;
  font-family: montserrat-b;
}
.nav-buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
}
.nav-buttons button{
  border-radius: 10px;
  padding: 10px 0;
  max-width: 150px;
  align-self: end;
  margin-bottom: 10px;
  font-family: montserrat-b;
  font-size: 0.7rem;
}



/* main-content section */
.content-area{
  grid-column: 2;
  grid-row: 2/3;
}
